.body {
    -fx-background: #03c2fc;
}

.text-to-speech-label {
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.text-area {
    -fx-font-size: 16;
    -fx-control-inner-background: #1b748f;
}

.setting-label {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.setting-combo-box {
    -fx-font-size: 16;
    -fx-background-color: #1b748f;
}

.speak-button {
    -fx-background-color: #1b748f;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 10;
}
.speak-button:pressed {
    -fx-opacity: 0.75;
}